In [1]:
from bs4 import BeautifulSoup
from fuzzywuzzy import fuzz
import pandas as pd
import requests
from us import states

from team import dataframe
from data.soup_helpers import get_table

In [8]:
df = dataframe.get_all_d1_schools()
dataframe.add_tournament_rankings_to_dataframe_from_csv(df, "test/data/elite8.csv")
df = dataframe.filter_none_values(df, "Tournament Ranking")
dataframe.add_ap_rankings_to_dataframe(df)
display(df)

,School,Nickname,Home arena,Conference,Tournament appearances,Final Four appearances,Championship wins,AP Ranking,Tournament Ranking
22,Duke University,Blue Devils,Cameron Indoor Stadium,ACC,"(44) 1955, 1960, 1963, 1964, 1966, 1978, 1979,...","(17) 1963, 1964, 1966, 1978, 1986, 1988, 1989,...","(5) 1991, 1992, 2001, 2010, 2015",13,1
31,Syracuse University,Orange,Carrier Dome,ACC,"(41) 1957, 1966, 1973, 1974, 1975, 1976, 1977,...","(6) 1975, 1987, 1996, 2003, 2013, 2016",(1) 2003,24,8
73,Villanova University,Wildcats,Finneran Pavilion,Big East,"(43) 1939, 1949, 1951, 1955, 1962, 1964, 1969,...","(7) 1939, 1971*, 1985, 2009, 2016, 2018, 2022","(3) 1985, 2016, 2018",12,2
81,University of Northern Colorado,Bears,Butler–Hancock Sports Pavilion,Big Sky,(1) 2011,(0),(0),25,2
115,University of Texas at Austin,Longhorns,Moody Center,Big 12,"(36) 1939, 1943, 1947, 1960, 1963, 1972, 1974,...","(3) 1943, 1947, 2003",(0),22,3
180,Mount St. Mary's University,Mountaineers,Knott Arena,MAAC,"(6) 1995, 1999, 2008, 2014, 2017, 2021",(0),(0),None,4
285,The Citadel,Bulldogs,McAlister Field House,Southern,(0),(0),(0),21,5
341,Gonzaga University,Bulldogs,McCarthey Athletic Center,West Coast,"(24) 1995, 1999, 2000, 2001, 2002, 2003, 2004,...","(2) 2017, 2021",(0),6,1

In [3]:
display(df.loc[df["School"] == "Gonzaga University"])
display(df.loc[df["School"] == "Syracuse University"])
display(df.loc[df["School"] == "University of Texas at Austin"])

,School,Nickname,Home arena,Conference,Tournament appearances,Final Four appearances,Championship wins,AP Ranking,Tournament Ranking
341,Gonzaga University,Bulldogs,McCarthey Athletic Center,West Coast,"(24) 1995, 1999, 2000, 2001, 2002, 2003, 2004,...","(2) 2017, 2021",(0),6,1

,School,Nickname,Home arena,Conference,Tournament appearances,Final Four appearances,Championship wins,AP Ranking,Tournament Ranking
31,Syracuse University,Orange,Carrier Dome,ACC,"(41) 1957, 1966, 1973, 1974, 1975, 1976, 1977,...","(6) 1975, 1987, 1996, 2003, 2013, 2016",(1) 2003,24,8

,School,Nickname,Home arena,Conference,Tournament appearances,Final Four appearances,Championship wins,AP Ranking,Tournament Ranking
115,University of Texas at Austin,Longhorns,Moody Center,Big 12,"(36) 1939, 1943, 1947, 1960, 1963, 1972, 1974,...","(3) 1943, 1947, 2003",(0),23,3

## Get Colors

In [4]:
color_table = get_table("https://en.wikipedia.org/wiki/Module:College_color", 3)
colors = list()
for i, row in enumerate(color_table.find_all("tr")[2:]):
    cdata = row.find_all("td")
    name = cdata[0].string
    color1 = cdata[1].get("style").split(":")[1]
    color2 = cdata[3].get("style").split(":")[1]
    if "transparent" in color2:
        color2 = cdata[2].get("style").split(":")[1]
    colors.append((name, color1, color2))
colors[0]

('Abilene Christian Wildcats', '#4E2683', '#C5C6C8')

## All D1 Schools Table

In [26]:
URL = "https://en.wikipedia.org/wiki/List_of_NCAA_Division_I_institutions"
schools_table = get_table(URL, 1)
header = schools_table.find_all("tr")[1]
for i, row in enumerate(schools_table.find_all("tr")[2:]):
    data = row.find_all("td")
    school = data[0].find("a").string
    location = f"{data[3].find('a').string}, {data[4].find('a').string}"
    is_private = data[5].find("a").string.casefold() == "private".casefold()
    print(school, location, is_private)
    break

Abilene Christian University Abilene, TX True

In [11]:
data = requests.get("https://www.caninejournal.com/college-colors/")
b = BeautifulSoup(data.text)
line_break_set = {"Name", "City", "Mascot", "Nickname", "Location", "Team Name", "Home of the Catamounts", "The Island University", "Marching Highland Cavaliers", "Senators"}
for line in b.find_all('li')[46:]:
    if line and ":" in line.text:
        sp = line.text.split(":")
        school = sp[0].strip()
        colors = sp[1]
        for t in line_break_set:
            colors = colors.split(t)[0].strip()
        if "&" in colors:
            color_split = colors.split("&")
            primary_color = color_split[0].strip()
            secondary_color = color_split[1].strip()
        if "," in colors:
            color_split = colors.split(",")
            primary_color = color_split[0].strip()
            secondary_color = color_split[1].split("&")[0].strip()
        if school and school not in line_break_set:
            pass
            # print(f"{school}, {primary_color}, {secondary_color}")

In [15]:
df = pd.read_pickle("saved_static_data/school_data_dataframe.pkl")
from data.rivals import RIVALRIES
from data.school_names import update_school_name
from fuzzywuzzy import fuzz
    
for school in RIVALRIES.keys():
    best_ratio = 0
    best_index = -1
    for i, row in df.iterrows():
        ap_name = update_school_name(school)
        df_school = row["School"]
        for q, r in [("St.", "Saint"), ("The ", "")]:
            ap_name.replace(q, r)
            df_school.replace(q, r)
        split_ap_name = ap_name.casefold().split(" ")
        split_df_school = df_school.casefold().split(" ")
        generic = "University"
        if split_ap_name[-1] == generic.casefold() and split_df_school[-1] == generic.casefold():
            ratio = fuzz.ratio(" ".join(split_df_school[:-1]), " ".join(split_ap_name[:-1]))
        elif split_ap_name[0] == generic.casefold() and split_df_school[0] == generic.casefold():
            ratio = fuzz.ratio(" ".join(split_df_school[1:]), " ".join(split_ap_name[1:]))
        else:
            ratio = fuzz.ratio(df_school, ap_name)
        if ratio > best_ratio:
            best_ratio = ratio
            best_index = i
    print(school, best_ratio)

Duke University 100
University of Michiagan 96
University of Kentucky 100
University of Cincannati 92
Indiana University 75
Gonzaga University 100
University of Kansas 100
University of Michigan 100
University of Pennsylvania 100
Harvard University 100
University of Arkansas 100
Syracuse University 100
Marquette University 100
University of Iowa 100
Stanford University 100
University of Illinois-Urbana-Champagin 89
Villanova University 100
University of Connecticut 100
Georgetown University 100
University of California-Los Angeles 94
University of Maryland 79
Ohio State University 100
University of Florida 100
Xavier University 100
St. Mary's University 77
Kansas State University 100
Michigan State University 100
Princeton University 100
Yale University 100
University of Missouri 100
University of Wisconsin 75
Iowa State University 100
University of California-Berkeley 93
LaSalle University 93
Unversity of Arizona 98

In [16]:
for s in df["School"]:
    print(s)

University at Albany, SUNY
Binghamton University
Bryant University
University of Maine
University of Maryland, Baltimore County
University of Massachusetts Lowell
University of New Hampshire
New Jersey Institute of Technology
University of Vermont
University of Central Florida
University of Cincinnati
East Carolina University
University of Houston
University of Memphis
University of South Florida
Southern Methodist University
Temple University
Tulane University
University of Tulsa
Wichita State University
Boston College
Clemson University
Duke University
Florida State University
Georgia Institute of Technology
University of Louisville
University of Miami
University of North Carolina at Chapel Hill
North Carolina State University
University of Notre Dame
University of Pittsburgh
Syracuse University
University of Virginia
Virginia Polytechnic Institute and State University
Wake Forest University
Austin Peay State University
Bellarmine University
University of Central Arkansas
Eastern Kentucky University
Florida Gulf Coast University
Jacksonville University
Jacksonville State University
Kennesaw State University
Liberty University
Lipscomb University
University of North Alabama
University of North Florida
Queens University of Charlotte
Stetson University
Davidson College
University of Dayton
Duquesne University
Fordham University
George Mason University
George Washington University
La Salle University
Loyola University Chicago
University of Massachusetts Amherst
University of Rhode Island
University of Richmond
St. Bonaventure University
Saint Joseph's University
Saint Louis University
Virginia Commonwealth University
Butler University
Creighton University
DePaul University
Georgetown University
Marquette University
Providence College
St. John's University
Seton Hall University
University of Connecticut
Villanova University
Xavier University
Eastern Washington University
University of Idaho
Idaho State University
University of Montana
Montana State University
Northern Arizona University
University of Northern Colorado
Portland State University
California State University, Sacramento
Weber State University
Campbell University
Charleston Southern University
Gardner–Webb University
High Point University
Longwood University
Presbyterian College
Radford University
University of North Carolina at Asheville
University of South Carolina Upstate
Winthrop University
University of Illinois Urbana–Champaign
Indiana University Bloomington
University of Iowa
University of Maryland, College Park
University of Michigan
Michigan State University
University of Minnesota
University of Nebraska–Lincoln
Northwestern University
Ohio State University
Pennsylvania State University
Purdue University
Rutgers University–New Brunswick
University of Wisconsin–Madison
Baylor University
Iowa State University
University of Kansas
Kansas State University
University of Oklahoma
Oklahoma State University–Stillwater
University of Texas at Austin
Texas Christian University
Texas Tech University
West Virginia University
California Polytechnic State University
California State University, Bakersfield
California State University, Fullerton
California State University, Northridge
University of Hawaiʻi at Mānoa
California State University, Long Beach
University of California, Davis
University of California, Irvine
University of California, Riverside
University of California, San Diego
University of California, Santa Barbara
College of Charleston
University of Delaware
Drexel University
Elon University
Hampton University
Hofstra University
Monmouth University
North Carolina Agricultural and Technical State University
Northeastern University
Stony Brook University
Towson University
University of North Carolina at Wilmington
College of William & Mary
University of North Carolina at Charlotte
Florida Atlantic University
Florida International University
Louisiana Tech University
Middle Tennessee State University
University of North Texas
Rice University
University of Alabama at Birmingham
University of Texas at El Paso
University of Texas at San Antonio
Western Kentucky University
Cleveland State University
University of Detroit Mercy
Indiana University – Purdue University Indianapolis
University of Wisconsin-Milwaukee
Northern Kentucky University
Oakland University
Purdue University Fort Wayne
Robert Morris University
University of Wisconsin–Green Bay
Wright State University
Youngstown State University
Chicago State University
University of Hartford
Brown University
Columbia University
Cornell University
Dartmouth College
Harvard University
University of Pennsylvania
Princeton University
Yale University
Canisius College
Fairfield University
Iona College
Manhattan College
Marist College
Mount St. Mary's University
Niagara University
Quinnipiac University
Rider University
Saint Peter's University
Siena College
University of Akron
Ball State University
Bowling Green State University
University at Buffalo
Central Michigan University
Eastern Michigan University
Kent State University
Miami University
Northern Illinois University
Ohio University
University of Toledo
Western Michigan University
Coppin State University
Delaware State University
Howard University
University of Maryland Eastern Shore
Morgan State University
Norfolk State University
North Carolina Central University
South Carolina State University
Belmont University
Bradley University
Drake University
University of Evansville
Illinois State University
Indiana State University
Missouri State University
Murray State University
University of Northern Iowa
Southern Illinois University Carbondale
University of Illinois Chicago
Valparaiso University
United States Air Force Academy
Boise State University
Colorado State University
California State University, Fresno
University of Nevada, Reno
University of New Mexico
San Diego State University
San Jose State University
University of Nevada, Las Vegas
Utah State University
University of Wyoming
Central Connecticut State University
Fairleigh Dickinson University
Long Island University
Merrimack College
Sacred Heart University
St. Francis College
Saint Francis University
Stonehill College
Wagner College
Eastern Illinois University
Lindenwood University
University of Arkansas at Little Rock
Morehead State University
Southeast Missouri State University
Southern Illinois University Edwardsville
University of Southern Indiana
University of Tennessee at Martin
Tennessee State University
Tennessee Technological University
University of Arizona
Arizona State University
University of California, Berkeley
University of Colorado Boulder
University of Oregon
Oregon State University
Stanford University
University of California, Los Angeles
University of Southern California
University of Utah
University of Washington
Washington State University
American University
United States Military Academy
Boston University
Bucknell University
Colgate University
College of the Holy Cross
Lafayette College
Lehigh University
Loyola University Maryland
United States Naval Academy
University of Alabama
University of Arkansas
Auburn University
University of Florida
University of Georgia
University of Kentucky
Louisiana State University
University of Mississippi
Mississippi State University
University of Missouri
University of South Carolina
University of Tennessee
Texas A&M University
Vanderbilt University
University of Tennessee at Chattanooga
The Citadel
East Tennessee State University
Furman University
Mercer University
Samford University
University of North Carolina at Greensboro
Virginia Military Institute
Western Carolina University
Wofford College
Houston Christian University
University of the Incarnate Word
Lamar University
McNeese State University
University of New Orleans
Nicholls State University
Northwestern State University
Southeastern Louisiana University
Texas A&M University-Corpus Christi
Texas A&M University–Commerce
Alabama Agricultural and Mechanical University
Alabama State University
Alcorn State University
University of Arkansas at Pine Bluff
Bethune–Cookman University
Florida Agricultural and Mechanical University
Grambling State University
Jackson State University
Mississippi Valley State University
Prairie View A&M University
Southern University
Texas Southern University
University of Denver
University of Missouri–Kansas City
University of North Dakota
North Dakota State University
University of Nebraska Omaha
Oral Roberts University
University of St. Thomas
University of South Dakota
South Dakota State University
Western Illinois University
Appalachian State University
Arkansas State University
Coastal Carolina University
Georgia Southern University
Georgia State University
James Madison University
University of Louisiana at Lafayette
University of Louisiana at Monroe
Marshall University
Old Dominion University
University of South Alabama
University of Southern Mississippi
Texas State University
Troy University
Brigham Young University
Gonzaga University
Loyola Marymount University
University of the Pacific
Pepperdine University
University of Portland
Saint Mary's College of California
University of San Diego
University of San Francisco
Santa Clara University
Abilene Christian University
California Baptist University
Utah Tech University
Grand Canyon University
New Mexico State University
Sam Houston State University
Seattle University
Southern Utah University
Stephen F. Austin State University
Tarleton State University
Utah Valley University
University of Texas at Arlington
University of Texas Rio Grande Valley